@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Lora:ital,wght@1,400;1,700&display=swap');

/* 
font-family: 'Kanit', sans-serif;
font-family: 'Lora', serif;
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
    background-image: linear-gradient(-80.71deg, #FA3665 27.46%, #FF669D 67.25%);
    padding: 0.5em;
}

header {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    margin-inline: 3em;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.425);
}

a {
    font-family: 'Lora',cursive;
    color: white;
    font-size: 1.3em;   
        padding: 1em;
}

a:hover {
    color: #BF1131;
}
.logo-cherry {
    width: 98px;
}

.botao-contato {
    padding: 0.25em;
    border: 3px #ffffff solid;
    border-radius: 6px;
}

.botao-contato:hover {
    background-color: white;
    font-style: bold;
    color: #FA3665;
}

.main-page {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    align-items: center;
}

.text-of-cherrystore {
    line-height: 3.4em;
    padding: 0;
    margin-bottom: 10em;
}
h1 {
    font-size: 4em;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    color: white;
}

h2 {
    font-size: 2em;
    color: black;
}

.tshirts-image {
    width: 640px;
}

footer {
    border-top: 1px dotted rgba(255, 255, 255, 0.425);;
}