@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Lora:ital,wght@1,400;1,700&display=swap');

/* 
font-family: 'Kanit', sans-serif;
font-family: 'Lora', serif;
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
    background-image: linear-gradient(-80.71deg, #FA3665 27.46%, #FF669D 67.25%);
    padding: 0.5em;
}

header {
    display: flex;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px dotted rgba(255, 255, 255, 0.425);
}

a {
    font-family: 'Lora',cursive;
    color: white;
    font-size: 1.3em;   
        padding: 1em;
}

a:hover {
    color: #BF1131;
}
.logo-cherry {
    width: 98px;
}

.botao-contato {
    padding: 0.25em;
    border: 3px #ffffff solid;
    border-radius: 6px;
}

.botao-contato:hover {
    background-color: white;
    font-style: bold;
    color: #FA3665;
}

.main-page {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    align-items: center;
}

.text-of-cherrystore {
    line-height: 3.4em;
    padding: 0;
    margin-bottom: 10em;
}
h1 {
    font-size: 4em;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    color: white;
}

h2 {
    font-size: 1.8m;
    color: black;
}

.tshirts-image {
    width: 640px;
}

footer {
    border-top: 3px dotted rgba(255, 255, 255, 0.425);;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 1.4em;
    }

    .tshirts-image {
        width: 480px;
    }
  } 

@media screen and (max-width: 960px) {

    header {
        flex-direction: column;
    }

    nav {
        margin: 1.4em;
        padding: 0px;
    }

    .logo-cherry {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 0.7;
    }
    .main-page {
        flex-direction: column;
        padding: 0.9em;
    }

    .text-of-cherrystore {
        margin: 1em;
    }

    .tshirts-image {
        width: 320px;
    }
  } 

  @media screen and (max-width: 325px) {

    header {
        flex-direction: column;
    }

    nav {
        font-size: 0.5em;
        padding: 0px;
    }

    .logo-cherry {
        width: 56px;
    }

    .botao-contato {
        font-size: 0.7em;
        padding: 0.20em;
        margin: 1em;
        border: 3px #ffffff solid;
        border-radius: 8px;
    }

    h1 {
        font-size: 1.6em;
    }
    
    h2 {
        font-size: 0.7em;
        margin: 0;
        padding: 0;
    }
    .main-page {
        flex-direction: column;
        padding: 5px;
        margin-inline: 5px;
    }

    .text-of-cherrystore {
        line-height: 1.38em;
        padding: 0;
    }

    .tshirts-image {
        width: 256px;
    }
  } 