@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Lora:ital,wght@1,400;1,700&display=swap');

/* 
font-family: 'Kanit', sans-serif;
font-family: 'Lora', serif;
 */

/*
background-image: linear-gradient(-80.71deg, #FA3665 27.46%, #FF669D 67.25%);
a:hover {
    color: #BF1131;
}
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
    background-image: linear-gradient(-80.71deg, #FA3665 27.46%, #FF669D 67.25%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    padding: 1em;
}

.logo-cherry {
    width: 128px;
}

.navegation-bar {
    padding: 0.5em;
    font-family: 'Lora', serif;
    color: white;
}

.navegation-bar:hover {
    color: #BF1131;
}

.botao-contato {
    border: solid 3px white;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-family: 'Lora', serif;
    color: white;
}

.botao-contato:hover {
    background-color: white;
    color: #BF1131;
}

.main-page {
    border-top: dotted 3px rgba(255, 255, 255, 0.588);
}

.main-page-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
}

.tshirts-image {
    width: 680px;
}

.text-main-page {
    padding-bottom: 256px;
    
}

h1 {
    font-size: 3em;
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
}